# dir
/src/
/local/
/__tests__/
/dist/
/node_modules/

# files
browser.ts

# system temp file
.DS_Store

# vscode config
.vscode

# package
yarn.lock
package-lock.json

# config files
.travis.yml
webpack.config.js
jest.config.json
.prettierrc.js
.eslintrc.js
